fieldset {
	ul {
		padding-left: 1.5rem;
		margin-bottom: 1rem;
		li {
			list-style-type: circle;
			list-style-position: outside;
		}
	}
}
.candidate-view {
	.campaign_details {
		font-size: 1.7rem;
		margin-bottom: 2rem;
		span {
			display: inline-block;
		}
		.can_party {
			color: white;
			font-weight: 700;
			width: 2.75rem;
			height: 2.75rem;
			line-height: 2.75rem;
			text-align: center;
			border-radius: 50%;
			margin-right: 1rem;
		}
	}
	header {
		padding: 1rem 0;
		img {
			width: 6rem;
		}
		h3, img {
			display: inline-block;
			vertical-align: top;
			margin-right: 1rem;
		}
		h3 {
			font-weight: 300;
		}
	}
	fieldset.questions {
		dt, dd {
			padding-left: 2.5rem;
		}
		.dropCap {
			display: inline-block;
			width: 2rem;
			margin-left: -2rem;
		}
	}
}