fieldset {
	ul {
		padding-left: 1.5rem;
		margin-bottom: 1rem;
		li {
			list-style-type: circle;
			list-style-position: outside;
		}
	}
}
.candidate-view {
	header {
		padding: 1rem 0;
		img {
			height: 6rem;
			width: 6rem;
			background: $outline;
			border-radius: 50%;
		}
		h3, img {
			display: inline-block;
			vertical-align: middle;
			margin-right: 1rem;
		}
	}
	fieldset.questions {
		dt, dd {
			padding-left: 2.5rem;
		}
		.dropCap {
			display: inline-block;
			width: 2rem;
			margin-left: -2rem;
		}
	}
}

.candidate-summary {
	img {
		height: 6rem;
		width: 6rem;
		background: $outline;
		border-radius: 50%;
	}
	div {
		display:inline-block;
		padding: 1rem 1rem 1rem 0;
	}
}