fieldset {
	ul {
		padding-left: 1.5rem;
		margin-bottom: 1rem;
		li {
			list-style-type: circle;
			list-style-position: outside;
		}
	}
}

.candidate-view {
	.campaign_details {
		font-size: 1.7rem;
		margin-bottom: 2rem;
		text-align: center;
		span {
			display: inline-block;
		}
		.can_party {
			color: white;
			font-weight: 700;
			width: 2.75rem;
			height: 2.75rem;
			line-height: 2.75rem;
			text-align: center;
			border-radius: 50%;
			margin-right: 1rem;
		}
		.can_R { background-color: $red;}
		.can_D { background-color: $blue;}
		.can_G { background-color: $green;}
		.can_L { background-color: $yellow;}
	}
	.e_cycle {
		padding: 0 0 1rem;
		margin: 0 0 1rem;
		border-bottom: 2px solid #ccc;
	}
	.identity_card {
		padding-bottom: 3rem;
		margin-bottom: 3rem;
		border-bottom: 1px solid $lgrey;
		& > div {
			padding: 1rem 0;
			// display: inline-block;
			// vertical-align: top;
			// float: none;
		}
	}
	.identity {
		text-align: center;
		img {
			width: 6rem;
			border-radius: 5px;
			box-shadow: 0 20px 15px -20px black;
			margin-bottom: 1rem;
		}
		// h3, img {
		// 	margin-right: 1rem;
		// }
		h3 {
			font-weight: 300;
			margin: 0;
		}
	}
	.contact_analog, .contact_digital {
		clear: both;
	}
	.vcard {
		.address, .icon-location-pin {
			display: inline-block;
			vertical-align: top;
		}
	}
	.bio_info, .questions_container {
		& > div {
			padding-top: 1.5rem;
		}
		h4 {
			text-align: left;
			@include icon
		}
		ul {
			padding-bottom: 1.5rem;
			border-bottom: 1px solid $outline;
			li {
				list-style-type: circle;
				list-style-position: inside;
			}
		}
		.questions {
			padding-bottom: 1.5rem;
			border-bottom: 1px solid $outline;
			dl {
				margin: 0 0 1rem;	
			}
			dt, dd {
				padding-left: 2.5rem;
			}
			dt {
				color: $textblue;
			}
			.dropCap {
				font-size: 1.25rem;
				display: inline-block;
				width: 2rem;
				margin-left: -2rem;
				color: $blue;
				text-align: left;
			}
		}
	}
	.user_actions {
		text-align: right;
		span {
			font-weight: 400;
			cursor: pointer;
			margin-left: 2rem;
			height: 2rem;
			display: inline-block;
			border-radius: 1rem;
			padding-left: 1rem;
			i {
				color: white;
				width: 2rem;
				height: 2rem;
				line-height: 2rem;
				text-align: center;
				border-radius: 50%;
				margin-left: 1rem;
			}
			&.delete {
				color: $textred;
				i {
					background-color: $red;
				}
				&:hover {
					color: lighten($textred, 10);
					background-color: lighten($red, 48);
					i {
						background-color: lighten($red, 10);
					}
				}
			}
			&.save, &.remove {
				color: $textblue;
				i {
					background-color: $blue;
				}
				&:hover {
					color: lighten($textblue, 10);
					background-color: lighten($blue, 65);
					i {
						background-color: lighten($blue, 10);
					}
				}
			}
		}		
	}
}
@media #{$tablet} {
	.candidate-view {
		.campaign_details {
			text-align: left;
		}
		.identity {
			text-align: left;
		}
		.e_cycle {
			padding: 0 1rem 0 0;
			margin: 0 1rem 0 0;
			border: none;
			border-right: 2px solid #ccc;
		}
	}
}
@media #{$narrow} {
	.candidate-view {
		.bio_info, .questions_container {
			h4 {
				text-align: right;
			}
		}
	}
}
@media #{$normal} {
	.candidate-view {
		.contact_analog, .contact_digital {
			clear: none;
		}
		.identity_card {
			& > div {
			
			}
		}
	}
}














