.page_home {
	.hero {
		height: 95vh;
		background-image: url('../images/hero.jpg');
		background-size: cover;
		background-position: fixed;
		background-attachment: fixed;
		.intro {
			display: table;
			div {
				display: table-cell;
				vertical-align: middle;	
				padding: 0 2rem;;
			}
			color: white;
			max-width: 1024px;
			margin: 0 auto;
			height: 95vh;
			h1 {
				font-weight: 100;
				font-size: 4rem;
				line-height: 3.4rem;
			}
			p {
				font-weight: 100;
				font-size: 1.75rem;
			}
			a.button {
				font-size: 1rem;
				height: 3rem;
				line-height: 3rem;
				font-weight: 300;
				display: inline-block;
				margin: 0.5rem;
				&:not(.drk-but) {
					border-color: white;
					background-color: white;
					color: $blue;
					&:hover {
						color: white;
						border-color: $red;
						background-color: $red;
					}
				}
				&:hover {
					box-shadow: 0 10px 10px -10px rgba(0,0,0,0.5);
				}
			}
		}
	}
	section {
		border-bottom: 1px solid $outline;
		h2 {
			color: $textblue;
			font-size: 2.5rem;
			font-weight: 300;
			line-height: 3.4rem;
		}
		div.content_area {
			& > article {
				@include vertAlignInline;
			}
			padding: 4.5rem 1rem;
			margin: 0 auto;
			max-width: 1024px;
			div.illustration {
				padding: 0 4rem;
			}
		}
	}
	section.intro {
		overflow-x: hidden;
		.illustration {
			img {
				width: 1440px;
				max-width: 1000%;
			}
		}
	}
	section.contrib {
		background-color: $lgrey;
		border-bottom: none;
	}
	@media #{$tablet} {
		.hero {
			height: 80vh;
			.intro {
				div {
					padding: 0 10% 0 10%;
				}
				height: 80vh;
			}
		}
	}
	@media #{$narrow} {
		.hero {
			height: 94vh;
			.intro {
				div {
					padding: 0 5% 0 30%;
				}
				height: 94vh;
			}
		}
	}
	@media #{$normal} {
		.hero {
			height: 94vh;
			.intro {
				div {
					padding: 0 5% 0 35%;
				}
				height: 94vh;
			}
		}
	}
}