$textblue: rgb(7, 86, 151);
$textred: rgb(213, 33, 68);
$blue: rgb(0, 86, 150);
$red: rgb(210, 34, 69);

$grey: rgb(125, 118, 105);
$borders: rgb(15, 15, 15);
$shadow: rgb(247, 247, 247);
$outline: rgb(222, 217, 208);