// FIX FLOAT CONTAINERS
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	font-size:0;
	clear: both;
	visibility:hidden;
}
section.content {
	padding: 2rem;
}

dl {
	dd, dt { margin: 0; }
	dt {
		font-family: $title;
		font-weight: 400;
	}
	dd {

	}
}
i {
	padding: 0 0.5rem;
	text-align: center;
	display: inline-block;
	color: $lgrey;
}
button i {
	padding: 0 0 0 0.5rem;
}

.loading {
	height: 80vh;
	background-image: url('../images/loading.gif');
	background-position: 50% 50%;
	background-repeat: no-repeat;
}