.button, select {
	color: $borders;
	font-size: 0.83rem;
	font-weight: 700;
	padding: 0 2rem;
	height: 3rem;
	margin: 0.25rem 0 0.75rem;
	border: 1px solid $blue;
	background-color: transparent;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease;
	&:hover, &:active {
		color: white;
		background-color: $blue;
		border-color: $blue;
		transition: all 0.2s ease;
		i {
			color: white;
		}
	}
	i {
		color: $borders;
	}
}
.button:hover {
	// transform: translate(0px, 2px);
}
.drk-but {
	color: white;
	background-color: transparent;
	border-color: white;
	&:hover, &:active {
		background-color: $red;
		border-color: $red;
	}
}
.sec-but {
	color: white;
	background-color: $red;
	border-color: $red;
	&:hover, &:active {
		background-color: $blue;
		border-color: $blue;
	}
}
.ter-but {
	color: white;
	background-color: $blue;
	border-color: $blue;
}
.button.add {
	color: white;
	width: 3rem;
	padding: 0;
	overflow: hidden;
	border-radius: 50%;
	font-size: 1.5rem;
	background-color: $blue;
	border: none;
	i {
		color: white;
		width: 3rem;
		line-height: 3rem;
		text-align: center;
		padding: 0;
	}
	&:hover {
		background-color: darken($blue, 10);
	}
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"], 
input[type="tel"], 
input[type="number"], 
input[type="search"], 
input[type="date"], 
input[type="time"], 
input[type="color"], 
input[type="datalist"], textarea {
	font-family: $body;
	font-size: 1rem;
	font-weight: 300;
	border: 1px solid rgba($blue, 0.2);
	padding: 0.5rem 0.7rem;
	margin: 0.25rem 0 0.75rem;
	height: 3rem;
	border-radius: 5px;
	display: block;
	clear:both;
	transition: all 0.1s ease-in-out;
	&:active, &:focus, &:hover {
		outline: none;
		border-left: 3px solid rgba($blue, 0.3);
		background-color: $shadow;
		border-radius: 0 5px 5px 0;
		transition: all 0.1s ease-in-out;
	}
}
textarea {
	height: 9rem;
}
select {
	-webkit-appearance: none;
	display: block;

}
article {

}
fieldset {
	border-bottom: 1px dotted $lgrey;
	padding: 1rem 0;
	margin: 1rem 0;
	&:last-child {
		border: none;
	}
}
.form_actions, .user_actions {
	padding: 2rem 0;
}
.form_actions {
	text-align: right;
}
.user_actions {
	text-align: left;
}