header#header {
	font-size: 0.75rem;
	text-transform: uppercase;
	.header_container {
		background-color: $shadow;
		nav {
			padding-top: 3rem;
			margin: 0 auto;
			max-width: 1024px;
			text-align: right;
			position: relative;
			.logo {
				position: absolute;
				display: block;
				left: 0.5rem;
				top: 2.5rem;		
				img {
					height:2.5rem;
					width: auto;
				}
			}
			ul {
				li {
					display: inline-block;
					a {
						line-height: 3rem;
						padding: 0 1rem;
						text-align: center;
					}
				}
			}
		}
	}
}
@media #{$tablet} {
	.header_container {
		.logo {
			top: 1rem;
			img {
				height: 4.5rem;
				width: auto;
			}
		}
	}
}