header#header {
	font-size: 0.75rem;
	text-transform: uppercase;
	nav {
		background-color: $shadow;
		ul {
			li {
				display: inline-block;
				a {
					line-height: 3rem;
					padding: 0 1rem;
					text-align: center;
				}
			}
		}
	}
}