header#header {
	font-size: 0.75rem;
	text-transform: uppercase;
	.header_container {
		background-color: $shadow;
		nav {
			margin: 0 auto;
			max-width: 1024px;
			text-align: right;
			ul {
				li {
					display: inline-block;
					a {
						line-height: 3rem;
						padding: 0 1rem;
						text-align: center;
					}
				}
			}
		}
	}
}