// IMPORT FONTS
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Noto+Sans:400,700');

// BASE TYPOGRAPHY

body {
	font-family: $body;
	line-height: 1.7;
	font-weight: 300;
}

// HEADINGS

h1, h2, h3, h4, h5, h6 {
	font-family: $title;
	font-weight: 400;
	margin-bottom: 1rem;
}
h1, h2, h3 {
	font-weight: 400;
}
h1 {
	font-size: 1.85rem;
}
h2 {
	font-size: 1.65rem;
}
h3 {
	font-size: 1.45rem;
}
h4 {
	font-size: 1.25rem;
}
p {
}
a, a:link, a:visited {
	color: black;
}
a:hover {
	color: $textred;
}
a, a:link, a:visited, a:hover {
	text-decoration: none;
	transition: all 0.2s ease;
}
label {
	font-weight: 400;
	font-size: 0.75rem;
	text-transform: uppercase;
}
.description {
	font-size: 0.85rem;
	margin-top: -0.425rem;
	display:none;
}
fieldset {
	legend {
		font-size: 1.45rem;
		font-family: $title;
		font-weight: 700;
		padding-left: 0.5rem;

	}
	fieldset {
		legend {
			font-size: 1rem;
			font-style: bold;
			padding-left: 0;
			font-family: $body;
		}
	}
}
.dropCap {
	font-family: $title;
	font-size: 1.5rem;
	color: $lgrey;
}